<template>
  <div class="box">
    <nav class="level">
      <div class="level-left">
        <table class="table">
          <tbody>
          <tr><td><b>Domain</b></td><td>{{ data.url }}</td></tr>
          <tr><td><b>Status</b></td><td>{{ data.active ? "Active" : "Inactive" }}</td></tr>
          </tbody>
        </table>
      </div>

      <div class="level-right has-text-centered">
        <div class="level-item">
          <b-button type="is-danger">Remove</b-button>
        </div>
        <div class="level-item">
          <b-button type="is-info">Verify DNS</b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return { data: { url: "anarchy.zone", active: true } };
  }
});
</script>

<style scoped>
</style>
